# MOY API Developer Console
VITE_API_HUB_ADMIN_BASE_URL=http://localhost:3001/api/v1/api-hub
VITE_API_HUB_OPENAI_BASE_URL=http://localhost:3001/v1

# production:
# VITE_API_HUB_ADMIN_BASE_URL=https://api.app.moy.com/api/v1/api-hub
# VITE_API_HUB_OPENAI_BASE_URL=https://api.app.moy.com/v1
